# Base de datos
DB_HOST=TuHost
DB_NAME=TuBaseDeDatos
DB_USER=TuUsuario
DB_PASS=TuContraseña
DB_CHARSET=utf8mb4

# FTP Deploy
FTP_HOST=TuHostFTP
FTP_USER=TuUsuarioFTP
FTP_PASSWORD=TuContraseñaFTP
FTP_PORT=TuPuertoFTP